@import "slick-carousel";

$slick-prev-character: "<";
$slick-next-character: ">";

@import "slick-carousel/slick/slick-theme";

.carousel {
  background: $grey-dark;
}

.carousel__slide {
  @include title(0.8em);
  height: 240px;
  line-height: 240px;
  text-align: center;
  color: $grey-light;

  @include bp(s) {
    font-size: 1em;
    height: 320px;
    line-height: 320px;
  }
  @include bp(m) {
    height: 460px;
    line-height: 460px;
  }
}


// Slick Carousel overrides

.slick-dots {
  bottom: 0;
  li {
    margin: 0;
    button:before {
      font-size: 12px;
      color: $white;
      opacity: 0.1;
      transition: all 0.15s ease;
    }
    &.slick-active {
      button:before {
        color: $white;
        opacity: 0.4;
      }
    }
  }
}

.slick-arrow {
  font-weight: bold;
}

.slick-prev {
  left: 10px;
  z-index: 1;
  @include bp(s) {
    left: 30px;
  }
}

.slick-next {
  right: 10px;
  @include bp(s) {
    right: 30px;
  }
}
