$logo-height: 56px;

.header {
  position: relative;
  padding: 1em;

  @include bp(xs) {
    padding: 1.5em 0 1em;
  }
  @include bp(m) {
    padding: 2em 0 1.2em;
  }
}

.header__logo {
  @include title(1em, 0);
  display: inline-block;
  width: $logo-height;
  height: $logo-height;
  line-height: $logo-height;
  text-align: center;
  text-decoration: none;
  background: $grey-dark;
  color: $grey-light;
  transition: all 0.1s ease;

  &:hover {
    background: $white;
    color: $black;
  }
}

.header__name {
  @include title(1em);
  display: inline-block;
  position: absolute;
  right: 1em;
  line-height: $logo-height;
  color: $white;

  @include bp(xs) {
    right: 0;
  }
}
