<div class="breakout content">
  <div class="content__inner">
    <div class="breakout__info">
      <h2 class="breakout__title">Breakout Area!</h2>
      <p class="breakout__copy">Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Nam hendrerit ullamcorper dui et congue. Vivamus dignissim nisi vel
        mollis porta.</p>
    </div>
  </div>
</div>
