<div class="content">
  <div class="content__inner">
    <div class="carousel">
      <div class="carousel__slide">Feature image or slider</div>
      <div class="carousel__slide">Feature image or slider</div>
      <div class="carousel__slide">Feature image or slider</div>
    </div>
  </div>
</div>
