<div class="content">
  <div class="gallery content__inner">
    <div class="gallery__image gallery__image--full">
      <img src="http://placekitten.com/g/960/470" alt="">
    </div>
  </div>
</div>
